@import "card";

body {
  font-family: Helvetica;
}

.flat-list {
  display: flex;
  flex-wrap: wrap;
  //to display 2 flat next to each other
}

.flat {
	flex:50% 0 0;
	cursor: pointer;
	border: 6px solid transparent;
}
.flat-selected {
	border: 6px red dashed;
}
